[submodule "bluetrack-webapp"]
	path = bluetrack-webapp
	url = https://github.com/hopkinskong/bluetrack.git
	branch = bluetrack-webapp
[submodule "bluetrack-hardware"]
	path = bluetrack-hardware
	url = https://github.com/hopkinskong/bluetrack.git
	branch = bluetrack-hardware
