[submodule "bluetrack-webapp"]
	path = bluetrack-webapp
	url = https://github.com/hopkinskong/bluetrack.git
	branch = bluetrack-webapp
[submodule "bluetrack-hardware"]
	path = bluetrack-hardware
	url = https://github.com/hopkinskong/bluetrack.git
	branch = bluetrack-hardware
[submodule "bluetrack-firmware"]
	path = bluetrack-firmware
	url = https://github.com/hopkinskong/bluetrack.git
	branch = bluetrack-firmware
[submodule "bluetrack-backend"]
	path = bluetrack-backend
	url = https://github.com/hopkinskong/bluetrack.git
	branch = bluetrack-backend
