RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

<Files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</Files>

<Files ~ "^.*\.(md)">
order allow,deny
deny from all
satisfy all
</Files>

<FilesMatch ^((composer|package)\.json$)$>
    Deny from all
</FilesMatch>