extends template/default_template.pug

block config
	- var page_title = "Logout";

block main_content
	div.row.vertical-offset-100
		div.col-md-4.col-md-offset-4
			div.panel.panel-default
				div.panel-heading.text-center
					h3.panel-title Logout
				div.panel-body.text-center
					p You have been logged out from BlueTrack.